@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.App {
  font-family: 'Work Sans', sans-serif;
}

section.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container ul {
  padding: 0;
  background: #fff;
}

.container ul li {
  min-width: 112px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  text-transform: uppercase;
  transition: all .2s ease;
  margin: 3px 0;
  padding: 0 15px;
  list-style: none;
  color: #282c34;
}

.container ul li:hover {
  background: rgba(92, 203, 234, .5);
}

.container ul li span {
  transition: all .2s ease;
  color: #b5b5b5;
  font-size: 14px;
}
.container ul li span {
  color: #b5b5b5;
  font-size: 14px;
}
.container ul li:hover span {
  color: #fff;
}

table {
  border: 1px solid #282c34;
  border-collapse: collapse;
}
table tr {
  background: #fff;
  transition: all .2s ease;
}
table tr:nth-child(odd) {
  background: #efefef;
  transition: all .2s ease;
}
table tr:hover {
  background: rgba(92, 203, 234, .5);
}
table tr:hover td {
  color: #fff;
}
table tr td {
  transition: all .2s ease;
  border: 1px solid #b7b7b7;
  padding: 5px 15px;
  color: #282c34;
}